.place__title {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  color: #FFFFFF;
  font-size: 32px;
  line-height: 1.1;
  font-weight: 900;
  font-style: normal;
  margin: 50px 16px 32px;
}
@media (min-width: 768px) {
  .place__title {
    text-align: left;
    margin-bottom: 48px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .place__title {
    font-size: 43px;
    min-width: 340px;
    width: calc(50% - 52px);
    margin-top: 73px;
    margin-right: 28px;
    margin-left: 24px;
  }
}
@media (min-width: 1024px) {
  .place__title {
    margin-top: 80px;
  }
}
@media (min-width: 1024px) and (max-width: 1280px) {
  .place__title {
    font-size: 72px;
    min-width: 440px;
    width: calc(50% - 80px);
    margin-right: 32px;
    margin-left: 48px;
  }
}
@media (min-width: 1280px) {
  .place__title {
    font-size: 72px;
    min-width: 460px;
    width: calc(50% - 188px);
    margin-right: 40px;
    margin-left: 148px;
  }
}