.place__title {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif; 
  color: #FFFFFF;
  font-size: 32px;
  line-height: 1.1;
  font-weight: 900;
  font-style: normal;
  margin: 50px 16px 32px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .place__title {
    width: calc(50% - 52px);
    text-align: left;
    margin: 73px 28px 48px 24px;
    font-size: 43px;
  }
}
@media (min-width: 1024px) and (max-width: 1280px) {
  .place__title {
    width: calc(50% - 80px);
    text-align: left;
    margin: 80px 32px 48px 48px;
    font-size: 72px;
  }
}
@media (min-width: 1280px) {
  .place__title {
    width: calc(50% - 188px);
    text-align: left;
    margin: 80px 40px 48px 148px;
    font-size: 72px;
  }
}
