.cover__subtitle {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 1.1;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  padding: 16px 16px 33px;
  margin: 0 auto;
  width: 288px;
  z-index: 3;
  position: relative;
}
@media (min-width: 768px) {
  .cover__subtitle {
    font-size: 18px;
    line-height: 1.2;
    width: 360px;
    padding-top: 32px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .cover__subtitle {
    padding-left: 204px;
    padding-right: 204px;
    padding-bottom: 115px;
  }
}
@media (min-width: 1024px) and (max-width: 1280px) {
  .cover__subtitle {
    padding-left: 332px;
    padding-right: 332px;
    padding-bottom: 195px;
  }
}
@media (min-width: 1280px) {
  .cover__subtitle {
    padding-left: 412px;
    padding-right: 412px;
    padding-bottom: 245px;
  }
}