/*320px*/
.footer__link {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  color: #FFFFFF;
  font-size: 24px;
  line-height: 1;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  display: block;
  margin: 0 0 32px 0;
}
.footer__link:hover {
  opacity: 80%;
}
@media (min-width: 768px) {
  .footer__link {
    font-size: 16px;
    line-height: 1.1;
    font-weight: 400;
    margin: 0 18px 0 0;
  }
}