.place__paragraph {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
  font-style: normal;
  margin: 0 16px 25px;
}
.place__paragraph:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .place__paragraph {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 26px;
  }
  .place__paragraph:last-child {
    margin-bottom: 0;
  }
}
@media (min-width: 1024px) {
  .place__paragraph {
    font-size: 18px;
  }
}