.lead__image {
  min-width: 320px;
  width: 100%;
  min-height: 200px;
  background-image: url(../../../images/lead-polka.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 50%;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .lead__image {
    min-width: 768px;
    min-height: 480px;
    height: 100%;
  }
}
@media (min-width: 1024px) and (max-width: 1280px) {
  .lead__image {
    width: calc(100% - 96px);
    min-height: 580px;
    margin: auto;
  }
}
@media (min-width: 1280px) {
  .lead__image {
    width: calc(100% - 296px);
    min-height: 615px;
    margin: auto;
  }

}
