.cover__title {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  color: #FFFFFF;
  font-size: 32px;
  line-height: 1.05;
  font-weight: 900;
  font-style: normal;
  text-align: center;
  padding: 32px 16px 0;
  margin: 0;
  z-index: 3;
  position: relative;
}
@media (min-width: 768px) {
  .cover__title {
    font-size: 72px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .cover__title {
    padding-top: 115px;
    padding-left: 104px;
    padding-right: 104px;
  }
}
@media (min-width: 1024px) and (max-width: 1280px) {
  .cover__title {
    padding-top: 195px;
    padding-left: 232px;
    padding-right: 232px;
  }
}
@media (min-width: 1280px) {
  .cover__title {
    padding-top: 245px;
    padding-left: 312px;
    padding-right: 312px;
  }
}